.video {
    
    width: 750px;
    height: 750px;
    border: 3px solid red;
}
h1 {
  color:white;
margin: auto
  
}
h7 {
  color:white;
}
h4 {
  color: green;
  text-align: center;
}

h5 {
  color: #00e6e6;
  text-align: center
}
h6 {
  color:black;
  font weight: bold;
}
p1 {
  font-weight: bold
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}


.parent {
    border: 0px white;
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    justify-content: space-between;
}



.parent3 {
    border: 0px white;
    display: flex;
    flex-direction: row-reverse;
   flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    margin: 5px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.center {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
    
}

.headline {
    color: solid grey;
    font-size: 2.5
    font-weight: bold;
    font-family: font-family: "Times New Roman", Times, serif;
display: flex;
flex-direction: row;
justify-content: space-between;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttons {
  margin: auto;
    diplay: flex;
    flex-direction: row;
    justify-content: center
    ;
}

.button1 {
    margin: auto;
    color: white;
    background-color: #00e6e6
}

.button2 {
    margin: auto;
    color: white;
    background-color: Transparent;
    border: 1px solid white;
    cursor:pointer;
    overflow: hidden;        

}
.button3 {
    margin: auto;
    color: solid black;
    background-color: orange
    
}




.bottom {
    color: darkcyan;
    text-align: center;
    
}

.parent {
    border: 0px white;
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    
}


.arrow {
  border-radius: 50%;
  width: 25px
}  


@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 600;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
  margin:0;
  padding:0;
  background:transparent;
  font-family: "system";
}

.hello {
  width: 200px;
  text-align: center
}

.word {
  font-style: italic;	
  text-align: center;
  font-size:1;
  font-weight:bold;
  color:white;
  opacity:0;
  position:absolute;
  top:75%;
  left:40%;
}

.w1 {
  animation: w1anim 20s infinite;
}

.w2 {
  animation: w2anim 20s infinite;
}

.w3 {
  animation: w3anim 20s infinite;
}

.w4 {
  animation: w4anim 20s infinite;
}

.w5 {
  animation: w5anim 20s infinite;
}



@keyframes w1anim {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20% {
    opacity:0;
  }
}


@keyframes w2anim {
  20%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40% {
    opacity:0;
  }
}

@keyframes w3anim {
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60% {
    opacity:0;
  }
}

@keyframes w4anim {
  60%{
    opacity: 0;
  }
  70%{
    opacity: 1;
  }
  80% {
    opacity:0;
  }
}

@keyframes w5anim {
  80%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}


topdiv {
  display: flex;
  justify-content: center;
}


.parentbottom {

    
   display: flex;
  align-items: center;
  justify-content: center;
}





.itembottom {
 width: 300px;
padding: 25px;
margin: 25px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 9px; /* 5px rounded corners */
}




.itembottom1 {
 width: 300px;
padding: 25px;
margin: 25px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 9px; /* 5px rounded corners */
}

button5 {
  color: green;
}

.bottom {
  width: 1100px;
padding: 100px;
margin: auto;
border-radius: 9px; /* 5px rounded corners */

}

.one {
  width: 300px;
padding: 25px;
margin: 25px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 9px; /* 5px rounded corners */
}

.vl {
  border-left: 1px solid grey;
  height: 300px;
}

.lastRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lastRow {
  background-color: rgba(238, 238, 238, 0.91) !important;
background-image: url("eMoney_Analytics1.jpg");
background-blend-mode: color;
}


.parentbottom {
  background-color: rgba(238, 238, 238, 0.81) !important;
background-image: url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-029.jpg");
background-blend-mode: color;
}

.container1 {
  background-color: rgba(238, 238, 238, 0.81) !important;
background-image: url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-029.jpg");
background-blend-mode: color;

}



.bottom {
  background-color: rgba(238, 238, 238, 0.81) !important;
background-image: url("https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-029.jpg");
background-blend-mode: color;
}




.left {
  width: 163px;
  margin: auto;
  color: white;
  background-color: #00e6e6 ;
}

.button9 {
margin: auto;
    color: white;
    background-color: #00e6e6

}